.image-container {
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.image-container ul {
    display: flex;
    padding: 0;
    width: 400vw;
    animation: slide 16s infinite alternate ease-in-out;
}

.image-container li {
    list-style: none;
    width: 100vw;
}

.image-container img {
    object-fit: cover;
    width: 100vw;
}

.image-container p {
    width: 93vw;
    text-align: center;
    margin-left: 3vw;
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    33% {
        margin-left: 0%;
    }

    43% {
        margin-left: -100%;
    }

    73% {
        margin-left: -100%;
    }

    83% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }
}