.image-container {
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.image-container ul {
    margin-top: 0;
    display: flex;
    padding: 0;
    width: 400vw;
    animation: slide 16s infinite alternate ease-in-out;
}

.image-container li {
    list-style: none;
    width: 100vw;
}

.image-container img {
    object-fit: cover;
    width: 100vw;
}

.image-container p {
    width: 93vw;
    text-align: center;
    margin-left: 3.2vw;
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    33% {
        margin-left: 0%;
    }

    43% {
        margin-left: -100%;
    }

    73% {
        margin-left: -100%;
    }

    83% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }
}


@media only screen and (min-width: 600px) {
    .image-container li {
        width: 90vw;
        margin-right: 5vw;
        margin-left: 5vw;
    }

    .image-container img {
        width: 90vw;
    }

    .image-container p {
        width: 90vw;
        margin-left: 0;
    }

}


@media only screen and (min-width: 930px) {

    .image-container img,
    .image-container p,
    .image-container li {
        width: 80vw;
    }

    .image-container li {
        margin-right: 10vw;
        margin-left: 10vw;
    }
}

@media only screen and (min-width: 1060px) {

    .image-container img,
    .image-container p,
    .image-container li {
        width: 70vw;
    }

    .image-container li {
        margin-right: 15vw;
        margin-left: 15vw;
    }
}

@media only screen and (min-width: 1200px) {

    .image-container img,
    .image-container p,
    .image-container li {
        width: 60vw;
    }

    .image-container li {
        margin-right: 20vw;
        margin-left: 20vw;
    }
}