.new-card {
    margin-top: 2rem;

}

.news-section {
    width: 100%;
}

.news-cards {
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


@media only screen and (min-width: 686px) {

    #card-image-container,
    #card-text-container,
    #card-text-container div,
    .new-card {
        width: 55vw !important;
        margin-left: 0;
        font-size: 1.2rem;
    }

    #link-news {
        margin-top: 15%;
    }
}

@media only screen and (min-width: 768px) {

    .news-cards {
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: baseline;
        row-gap: 4rem;
    }

    .news-cards>div,
    .new-card {
        margin-top: 0 !important;
    }

    #card-image-container,
    #card-text-container,
    #card-text-container div,
    .new-card {
        width: 40vw !important;
    }

}

@media only screen and (min-width: 990px) {

    #card-image-container,
    #card-text-container,
    #card-text-container div,
    .new-card {
        width: 40vw !important;
        font-size: 1.1rem;
    }

}

@media only screen and (min-width: 1100px) {

    #card-image-container,
    #card-text-container,
    #card-text-container div,
    .new-card {
        width: 30vw !important;
    }

}