#title-text {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

#instructions {
    text-align: center;
    font-weight: bold;
}

.splide {
    width: 100vw;
    overflow: hidden;
}


#splide-container-list {
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.splide-slide {
    list-style: none;
    margin-right:7rem;
    margin-left: 10%;
}