#title-text {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

#instructions {
    text-align: center;
    font-weight: bold;
}

.splide {
    width: 100vw;
    overflow: hidden;
}

#splide-container-list {
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.splide-slide {
    list-style: none;
    margin-right: 7rem;
    margin-left: 10%;
}

.splide__arrow,
.splide__pagination {
    display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .splide-slide {
        margin-left: 17vw;
    }

    .new-card,
    #card-image-container,
    #card-text-container div {
        width: 60vw !important;
    }


    #card-image-container,
    #card-text-container div {
        margin-left: 5vw
    }

    #card-image-container img {
        border-top-left-radius: 12% !important;
        border-top-right-radius: 12% !important;
    }

    #splide-container-list {
        height: 35rem;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .splide-slide {
        margin-left: 20vw;
    }

    .new-card,
    #card-image-container,
    #card-text-container div {
        width: 55vw !important;
    }

    #card-image-container,
    #card-text-container div {
        margin-left: 7.5vw
    }

    #splide-container-list {
        height: 35rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}