#title-text {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

#instructions {
    text-align: center;
    font-weight: bold;
}

.splide {
    width: 100vw;
    overflow: hidden;
}

#splide-container-list {
    display: flex;
    width: 100vw;
    height: 100vw;
    margin: 0;
    padding: 0;
}

.splide-slide {
    list-style: none;
    margin-right: 7rem;
    margin-left: 10%;
}

.splide__arrow,
.splide__pagination {
    display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .splide-slide {
        margin-left: 17vw;
    }

    .new-card,
    #card-image-container,
    #card-text-container div {
        width: 60vw !important;
    }


    #card-image-container,
    #card-text-container div {
        margin-left: 5vw
    }

    #card-text-container {
        font-size: 1.5rem;
    }

    #card-image-container img {
        border-top-left-radius: 12% !important;
        border-top-right-radius: 12% !important;
    }

    #splide-container-list {
        height: 85vw;
    }

}

@media only screen and (min-width: 768px) {

    #title-text {
        font-size: 1.5rem;
    }

    .splide-slide {
        margin-left: 0;
    }

    .new-card,
    #card-image-container,
    #card-text-container div {
        width: 40vw !important;
    }

    #card-image-container,
    #card-text-container div {
        margin-left: 15vw;
    }

    #card-text-container {
        margin-top: 1rem;
    }

    #splide-container-list {
        height: 75vw;
    }
}

@media only screen and (min-width: 992px) {

    .splide-slide {
        margin-left: 1vw;
    }

    #card-text-container {
        margin-top: 2rem;
    }

    #card-text-container {
        font-size: 1.3rem;
    }

    #splide-container-list {
        height: 65vw;
    }
}

@media only screen and (min-width: 1200px) {

    #title-text {
        font-size: 1.7rem;
    }

    #splide-container-list {
        height: 50vw;
    }

    .new-card,
    #card-image-container,
    #card-text-container div {
        width: 30vw !important;
    }

    #card-image-container,
    #card-text-container div {
        margin-left: 20vw;
    }

    .splide-slide {
        margin-left: 9vw;
    }

    #link-news {
        margin-top: 5vw !important;
        margin-bottom: 4vw !important;
    }
}

@media only screen and (min-width: 1400px) {

    #splide-container-list {
        height: 40vw;
    }

    .splide-slide {
        margin-left: 10vw;
    }

    #link-news {
        margin-top: 3vw !important;
        margin-bottom: 3vw !important;
    }

    #card-text-container {
        font-size: 1.4rem;
    }
}