#news {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    color: white;
}

.title {
    display: flex;
    justify-content: center;
}

#left-side-container,
#right-side-container,
#news {
    width: 30%;
}

#right-side-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#right-side-container>a {
    text-decoration: none;
    color: white;
}

.news-section {
    margin-left: 0;
}

.Twit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.twitter-tweet {
    width: 90vw !important;
}