.form-container {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;

    width: 100%;
}

#btn-confirmar-actualizacion,
#btn-no-actualizar {
    display: none;
}

.form-container form {
    display: flex;
    flex-direction: column;
}