.navbar {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
  height: 10vh;
  background: #4f5aa8;
}

.navbar-logo {
  margin-left: 20%;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  height: 10vh;
}

.navbar-toggle {
  all: unset;
  display: flex;
  margin-right: 10%;
  width: 30%;
  height: 50%;
  cursor: pointer;
}

#button-icon {
  width: 100%;
  height: 100%;
  color: #55c59d;
}

.navbar-menu {
  display: none;
  align-items: center;
}

#top-border {
  border: 1px solid black;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 9vh;
}

.navbar-link {
  color: black;
  font-size: 150%;
  text-decoration: solid;
  padding: 3%;
}

.navbar-link:hover {
  color: #7481cf;
}

.space-links {
  margin: 5vw;
}

@media only screen and (min-width: 768px) {

  .navbar {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100vw;
  }

  .button-container {
    display: none;
  }

  #top-border {
    border: 0;
  }

  .navbar-menu {
    display: flex;
    width: 80%;
  }

  .navbar-item {
    justify-content: flex-end;
  }

  .navbar-link {
    padding: 5%;
  }

  .space-links {
    margin: 0;
  }
}