.main-footer {
    display: flex;
    width: 100%;
    height: 100%;
    background: #4f5aa8;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.right-side-container a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.right-side-container a:hover {
    color: white;
}

.left-side-container,
.right-side-container,
.middle-side-container {
    display: flex;
}

.middle-side-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vw;
}

.contact-container {
    margin-bottom: 3%;
}

.contact-container>a:hover {
    color: white;
}


.left-side-container,
.right-side-container {
    width: 30%;
    height: auto;
}

.left-side-container>div {
    display: flex;
    align-items: center;
    font-size: small;
}

.left-side-container>div>p {
    margin: 5%;
}

.social-network-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    height: 90%;
}

#link-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
}

#link-icon-container:hover {
    background-color: black;
    transition: 0.3s;
}

#link-icon-container:hover #link-icon {
    color: white;
    transition: 0.3s;
}


#link-icon {
    height: 4.5vw;
    color: black;
}

.right-side-container {
    display: flex;
    flex-direction: column;
}

.right-side-container div {
    display: flex;
    height: 50%;
    text-align: center;
    justify-content: center;
}

.right-side-container>div>a {
    color: black;
}

#cookies {
    margin-top: 5%;
}

#privacy-policity {
    margin-bottom: 5%;
}


@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}