.main-footer {
    display: flex;
    width: 100%;
    height: 10vh;
    background: #4f5aa8;
}

.left-side-container,
.right-side-container,
.middle-side-container {
    display: flex;
}

.middle-side-container {
    flex-direction: column;
    justify-content: center;
}

.top-side-container {
    height: 65%;
}

.left-side-container,
.right-side-container {
    width: 30%;
    height: auto;
}

.left-side-container>div {
    display: flex;
    align-items: center;
    font-size: small;
}

.left-side-container>div>p {
    margin: 5%;
}

.social-network-links-container {
    display: flex;
    justify-content: space-between;
    height: 8vw;
    width: 50vw;
}

#link-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
}

#link-icon {
    height: 4.5vw;
    color: black;
}

.right-side-container {
    display: flex;
    flex-direction: column;
}

.right-side-container div {
    display: flex;
    height: 50%;
    text-align: center;
    justify-content: center;
}

.right-side-container>div>a {
    color: black;
}

#cookies {
    margin-top: 5%;
}

#privacy-policity {
    margin-bottom: 5%;
}