.main-footer {
    display: flex;
    background: #4f5aa8;
    height: 100%;
    width: 100%;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.right-side-container a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.right-side-container a:hover {
    color: white;
}

.left-side-container,
.right-side-container,
.middle-side-container {
    display: flex;
}

.middle-side-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vw;
}

.left-side-container,
.right-side-container {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-side-container>div {
    display: flex;
    align-items: center;
    font-size: small;
}

.left-side-container>div>p {
    margin-left: 10%;
}

.social-network-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
}

#link-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
}

#link-icon-container:hover {
    background-color: black;
    transition: 0.3s;
}

#link-icon-container:hover #link-icon {
    color: white;
    transition: 0.3s;
}


#link-icon {
    height: 4.5vw;
    color: black;
}

#link-icon-container:last-child {
    transform: rotate(45deg);
}

.right-side-container div {
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.right-side-container a {
    color: black;
}

#cookies {
    height: 40%;
}

#privacy-policity {
    height: 60%;
}

@media only screen and (min-width: 535px) {
    .left-side-container {
        display: flex;
        justify-content: center;
    }

    .middle-side-container {
        height: 20vw;
    }

}

@media only screen and (min-width: 689px) {

    .main-footer {
        justify-content: center;
        display: flex;
    }

    #link-icon-container {
        width: 7vw;
        height: 7vw;
    }

    .left-side-container,
    .right-side-container,
    .middle-side-container {
        width: 33%;
    }

}

@media only screen and (min-width: 900px) {

    .middle-side-container {
        height: 12vw;
    }

    #link-icon-container {
        width: 5vw;
        height: 5vw;
    }

    #link-icon {
        height: 3vw;
    }

    .left-side-container,
    .right-side-container {
        width: 40%;
    }

    .middle-side-container {
        width: 25%;
    }
}

@media only screen and (min-width: 1200px) {

    .main-footer {
        width: 100vw;
    }

    .middle-side-container {
        height: fit-content;
        width: 60%;
    }

    .left-side-container,
    .right-side-container {
        width: 25%;
    }

    #link-icon-container {
        width: 4vw;
        height: 4vw;
    }

    #link-icon {
        height: 2.5vw;
    }
}