.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #7481cf;
    min-height: 100vh;
}

#news-details>div {
    display: none;
}

/*
colors used

#c1f880; 
#55c59d; 
#4f5aa8; 
#7481cf; 
*/