.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #7481cf;
    height: 100vh;
}

.empty-space {
    height: 16.6%;
}

/*
.first-color { 
	background: #c1f880; 
}
	
.second-color { 
	background: #55c59d; 
}

.third-color { 
	background: #4f5aa8; 
}

.fourth-color { 
	background: #7481cf; 
}
*/