.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #7481cf;
    height: fit-content;
}

.relevant-news p{
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

/*
.first-color { 
	background: #c1f880; 
}

.second-color { 
	background: #55c59d; 
}

.third-color { 
	background: #4f5aa8; 
}

.fourth-color { 
	background: #7481cf; 
}
*/